In [1]:
import boto3
import pandas as pd

region = "eu-west-1"
s3_client = boto3.client('s3', region_name=region)

# download file to local filesystem
s3_client.download_file('blossom-data-engs', "free-7-million-company-dataset.zip", 'free-7-million-company-dataset.zip' )

In [2]:
df = pd.read_csv('free-7-million-company-dataset-local.zip', compression='zip')

print(df)

        Unnamed: 0                          name             domain  \
0          5872184                           ibm            ibm.com
1          4425416     tata consultancy services            tcs.com
2            21074                     accenture      accenture.com
3          2309813                       us army         goarmy.com
4          1558607                            ey             ey.com
...            ...                           ...                ...
204844     4165370  caron transportation systems  carontransport.ca
204845     4859186                  ramada hotel  canaltahotels.com
204846     5831392       phelan construction ltd      phelans.co.uk
204847     4029001                        cebbco         cebbco.com
204848     4603252    laboratorio m√©dico polanco      lmpolanco.com

       year founded                             industry size range  \
0              1911  information technology and services     10001+
1              1968  information technology and services     10001+
2              1989  information technology and services     10001+
3              1800                             military     10001+
4              1989                           accounting     10001+
...             ...                                  ...        ...
204844         1947     transportation/trucking/railroad   51 - 200
204845          NaN                     food & beverages   51 - 200
204846         1987                         construction   51 - 200
204847          NaN                            machinery   51 - 200
204848         1977         health, wellness and fitness   51 - 200

                                      locality         country  \
0            new york, new york, united states   united states
1                   bombay, maharashtra, india           india
2                      dublin, dublin, ireland         ireland
3          alexandria, virginia, united states   united states
4       london, greater london, united kingdom  united kingdom
...                                        ...             ...
204844          sherwood park, alberta, canada          canada
204845           lac la biche, alberta, canada          canada
204846   clacton-on-sea, essex, united kingdom  united kingdom
204847         jabalpur, madhya pradesh, india           india
204848                                     NaN             NaN

                                             linkedin url  \
0                                linkedin.com/company/ibm
1          linkedin.com/company/tata-consultancy-services
2                          linkedin.com/company/accenture
3                            linkedin.com/company/us-army
4                      linkedin.com/company/ernstandyoung
...                                                   ...
204844  linkedin.com/company/caron-transportation-systems
204845                  linkedin.com/company/ramada-hotel
204846       linkedin.com/company/phelan-construction-ltd
204847                        linkedin.com/company/cebbco
204848    linkedin.com/company/laboratorio-m-dico-polanco

       current employee estimate  total employee estimate  Unnamed: 11
0                         274047                   716906          NaN
1                         190771                   341369          NaN
2                         190689                   455768          NaN
3                         162163                   445958          NaN
4                         158363                   428960          NaN
...                          ...                      ...          ...
204844                        51                       99          NaN
204845                        51                      230          NaN
204846                        51                       82          NaN
204847                        51                       87          NaN
204848                        51                      167          NaN

[204849 rows x 12 columns]

/home/lex/blossom/project_2/env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.shape

(204849, 12)

In [10]:
df = df.dropna()

In [12]:
df

,Unnamed: 0,name,domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate,Unnamed: 11
33937,1128772,sefcu,www,sefcu.com,1934,banking,501 - 1000,"albany, new york, united states",united states,linkedin.com/company/sefcu,344,666.0
60470,2575117,icarda,international center for agricultural researc...,icarda.org,1977,non-profit organization management,501 - 1000,"bayrut, beyrouth, lebanon",lebanon,linkedin.com/company/icarda,189,527.0
67461,3951975,associated consulting engineers,ace,ace-intl.net,1956,construction,501 - 1000,"karachi, sindh, pakistan",pakistan,linkedin.com/company/associated-consulting-eng...,169,467.0
158564,630876,atlanta area council,boy scouts of america,atlantabsa.org,1916,non-profit organization management,51 - 200,"atlanta, georgia, united states",united states,linkedin.com/company/atlanta-area-council-boy-...,67,232.0
160423,1232013,h3,slow,h3.com,2007,food & beverages,201 - 500,"portugal, portalegre, portugal",portugal,linkedin.com/company/h3,67,169.0
172412,1973399,bayanat for mapping & surveying services llc,a mubadala company,bayanat.co.ae,2008,defense & space,51 - 200,"abu dhabi, abu dhabi, united arab emirates",united arab emirates,linkedin.com/company/bayanat-for-mapping-&-sur...,61,108.0

In [14]:
df.to_parquet('csv_parquet_format.parquet')

In [16]:
df.to_json('csv_json_format.json.gzip', compression='gzip')

In [17]:
# define bucket, note json response
bucket = "blossom-data-eng-alexander"

In [18]:
# Uplaod data
s3_client.upload_file("project_2.ipynb", bucket, "project_2.ipynb")

In [19]:
s3_client.upload_file("csv_json_format.json.gzip", bucket, "csv_json_format.json.gzip")
s3_client.upload_file("csv_parquet_format.parquet", bucket, "csv_parquet_format.parquet")